<% provide(:title, "Posts") %>
<h1>Posts</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
 
    <% @posts.each do |post| %>
     <div class="inner-posts">
    <% if signed_in? %>
        <p class="author">
      <%= post.user.name %>
      </p>
    <% else %>
    <p class="author">
        Sign In to see the author
        </p>
    <% end %>
     <p class="title">
      <%= post.title %>
      </p>

      <p class="content">
      <%= post.content %> 
      </p>
    </div>
    <% end %>
    
  </div>
</div>
